body{
    background-image: url("weather.jpg");
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 30vh 30vh;
    height: auto;
    color: #11016b;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.entry{
    background: rgba(59, 74, 107, .4);
    color: rgba(209, 15, 15, 0.705);
    width: fit-content;
    block-size: fit-content;
    padding: 20px;
}

#entryHolder{
    font-size: 30px;
    text-align: center;
}

#name{
    color: Green;
    background-color: lavenderblush;
}

#date{
    color: Green;
    background-color: lavenderblush;
}

#temp{
    color: Green;
    background-color: lavenderblush;
}

#content{
    color: Green;
    background-color: lavenderblush;
}

.headline {
    font-size: 100px;
    color: #0a0a97;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: serif;
}

.headline:hover{
    background-color: #58a6ac;
    transition: ease 0.3s all;
    opacity: 0.75;
    border-style:solid;
}

.title{
    font-size: 50px;
    text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    font-size: 50px;
}

input{
    height: 80px;
    width: 330px;
    background:#b1b3fd;
    color: #ff5d5d;
    border: 3px groove rgba(248, 8, 100, 0.336);
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

button{
    width: 200px;
    height: 80px;
    background: #3b4a6b;
    color: #f0d43a;
    border: none;
    box-shadow: 2px 4px 5px #444;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
}

h1{
    font-size: 36px;
}

textarea{
    height: 80px;
    width: 400px;
    background:#b1b3fd;
    color: #ff5d5d;
    border: 3px groove rgba(248, 8, 100, 0.336);
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #ff5d5d; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #ff5d5d; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #ff5d5d; 
    font-family: 'Oswald', sans-serif;

} 